@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:700&display=swap')

body {
  overflow-x: hidden;
  /*font-family: 'Lexend Deca', sans-serif;*/
  font-family: 'Lato', sans-serif;
  /*color: #0A1747;*/
}
h3 {
font-family: 'Lexend Deca', sans-serif;
}
p {
font-family: 'Lato', sans-serif;
}
/*offset*/
.offset:before {
  display: block;
  content: "";
  height: 10rem;
  margin-top: -10rem;
}
/*password spacer*/
#password_spacer {
  margin-left: 10px;
}
/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}
/*fixed*/
.fixed {
  /*background-image: url(bg2.jpg);*/
  background-image: url(img/bg1.jpg);
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, .75);
}
/* NAvigation */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgb(163, 201, 217) !important; 
  /*background: rgba(163, 201, 217, .6) !important; */
  /*background: #56A1BF !important;*/
}
.navbar-brand img {
  padding-left: 50px;
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-light .navbar-nav .nav-link {
  color: #333;
  padding-top: .8rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: blue;
}
/*jumbotron*/
.jumbotron {
  background-color: transparent;
  /*margin-top: 59px;*/
  margin-bottom: 0;
  padding-bottom: 50px;
}
#home .container {
  padding-top: 70px;
  text-align: center;
}
#home h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 0px 10px #333;
}
#home p {
  color: #fff;
  text-shadow: 0px 0px 10px #333;
}
/*form search_eng*/
#search_eng.container {
  margin-bottom: 50px;
  width: 80%;
  justify-content: center;
}
/*datepicker*/
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
#search_eng.container {
  margin: 40px auto 100px auto;
  padding-bottom: 50px;
}
#search_eng label {
  color: #ddd;
  display: block;
  font-family: 'Lexend Deca', sans-serif;
  text-shadow: 0px 0px 10px #000;
}
#search_eng input, #search_eng select, footer input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  /*padding: 3px 0px;*/
  padding-left: 10px !important;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 100%;
  justify-content: center;
  height: 40px;
}
#search_eng div div {
  padding: auto;
  margin: auto;
  justify-content: center;
}
#search_eng #mybtn {
  justify-content: center;

}
/*datepicker end*/
/*carousal start*/
#my_carousel.container {
  justify-content: center;
}
#my_carousel .container {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
.carousel-inner {
  justify-content: center;
}
#my_carousel h3 {
  color: blue;
  font-size: 24px;
}
#my_carousel p {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}
/*carousal end*/
/*search info strat*/

#search_info.container {
  padding-top: 40px;
  padding-bottom: 40px;
}
#search_info div div {
  padding: 20px;
}
#search_info h3 {
  color: blue;
  font-size: 20px;
}
#search_info p {
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}
/*search info end*/

/*footer start*/
footer {
  background-color: #010D26;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}
footer .row {
  justify-content: center;
}
footer a {
  color: #fff;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3 !important;
}
hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}
#agency_spacer {
  margin-top: 95px;
}
/*footer end */



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
